ul li {
  list-style-type: none;
  float: left;
  width: 300px;
  height: 200px;
}

dd, dt {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

dt {
  width: 130px;
}

dd {
  width: 180px;
}

form {
  width: 400px;
}

#allTags {
  margin-top: 10px;
}
