.base-form {
  display: block;
  outline: black solid 1px;
  padding: 2px;
  width: 25%;
  margin-bottom: 4px;
}

form label {
  display: block;
  padding: 2px;
}

button {
  margin-top: 4px;
  margin-bottom: 4px;
}